.contacts-list {
	overflow: auto;
	&__button-group {
		opacity: 0.2;
		transition: opacity 0.15s;
	}
	&__table {
		&-header {
			z-index: 2;
			position: sticky;
			top: 0;
			background-color: var(--bs-gray-200);
		}
		&-row {
			transition: background-color 0.15s ease-in-out;
			&:hover {
				* {
					opacity: 1;
				}
				background-color: var(--bs-gray-200);
			}
		}
	}
}

.badge.badge-mark {
	&_new {
		color: var(--bs-light) !important;
		background-color: var(--bs-success) !important;
	}
	&_edited {
		color: var(--bs-light) !important;
		background-color: var(--bs-warning) !important;
	}
}
