.button {
	&__icon {
		&_logout::before {
			content: '\21D0';
		}
		&_search::before {
			content: '\1F50D';
		}
		&_new::before {
			content: '+';
		}
		&_edit::before {
			content: '\00270E';
		}
		&_delete::before {
			content: '\00D7';
		}
		&_username::before {
			content: '\1F464';
		}
		&_phone::before {
			content: '\260E';
		}
		&_email::before {
			content: '\1F4E7';
		}
	}
	&__text::before {
		content: '\00a0';
	}
}

i.button__icon {
	font-style: unset;
}
